.todo-header {
  color: #4bcffa;
  min-height: 180px;
  background: #1e272e;
}

.todo-header button:first-child {
  margin-right: 10px;
}
label {
  margin-right: 10px;
}

input {
  background-color: #485460;
  border-radius: 10px;
  border-color: #4bcffa;
  color: #4bcffa;
}

input:focus {
  background-color: #485460;
  color: #4bcffa;
}

input[type="date"] {
  color: #4bcffa;
}

::placeholder {
  color: #4bcffa;
}

.btn-add_task {
  background: #3c40c6;
  border-color: #3c40c6;
}

.btn-clear_all {
  background: #575fcf;
  border-color: #575fcf;
  color: #fff;
}
