<div class="container-fluid text-center py-5 todo-header">
  <div class="row">
    <h1>TODO LIST</h1>
    <p>Create own Todo list and manage them</p>
  </div>
  <div class="row mx-5">
    <div class="col-md-6">
      <div class="input-group align-items-center">
        <label for="task">Create task:</label>
        <input
          type="text"
          name="task"
          id="task"
          placeholder="Create your task"
          class="form-control ml-2"
        />
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group align-items-center">
        <label for="date" class="mr-2">Pick date:</label>
        <input type="date" name="date" id="date" class="form-control ml-2" />
      </div>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary">+</button>
    </div>
  </div>
</div>
