<div class="container-fluid text-center todo-header">
  <div class="row mx-5 my-6">
    <div class="col-md-12">
      <h1>TODO LIST</h1>
      <p>Create own Todo list and manage them</p>
    </div>
    <div class="col-md-6">
      <div class="input-group align-items-center">
        <label for="task">Create task:</label>
        <input
          #task="ngModel"
          type="text"
          name="task"
          id="task"
          placeholder="Create your task"
          class="form-control"
          [(ngModel)]="todoService.taskItem"
        />
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group align-items-center">
        <label for="date" class="mr-2">Pick date:</label>
        <input
          #data="ngModel"
          type="date"
          name="date"
          id="date"
          class="form-control"
          [(ngModel)]="todoService.taskData"
        />
      </div>
    </div>
    <div class="col-md-2">
      <button
        class="btn btn-primary"
        (click)="addNewTask()"
        [disabled]="!todoService.taskItem"
      >
        Add
      </button>
      <button
        class="btn btn-warning"
        (click)="clearList()"
        [disabled]="todoService.tasksList.length === 0"
      >
        Clear
      </button>
    </div>
  </div>
  <div class="row px-5 mt-5 tasks-container d-flex justify-content-start">
    <div
      class="card card-custom"
      *ngFor="let task of todoService.tasksList"
      [class.task-completed]="task.done"
    >
      <i
        class="bi bi-check-circle"
        *ngIf="task.done"
        [class.task-completed_icon]="task.done"
        (click)="taskDone(task)"
      ></i>
      <div class="card-body d-flex flex-column justify-content-between p-0">
        <p class="card-data">{{ task.data | date }}</p>
        <p class="card-text">{{ task.text }}</p>
        <div class="btn-group">
          <button
            class="btn btn-custom btn-approve"
            (click)="taskDone(task)"
            [disabled]="task.done"
          >
            <i class="bi bi-check-circle"></i>
          </button>
          <button
            class="btn btn-custom btn-delete"
            (click)="deleteTask(task)"
            [disabled]="task.done"
          >
            <i class="bi bi-trash2"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
